[submodule "futurity-frontend"]
	path = futurity-frontend
	url = https://github.com/ThePersonThat/futurity-frontend
[submodule "futurity-backend"]
	path = futurity-backend
	url = https://github.com/ThePersonThat/futurity-backend
